<h3 class="page-title">
	<b>Customer Master</b>
	<button class="btn btn-success btn-rounded pull-right"
		ng-click="showCustomerForm();" ng-hide="customerForm">Add New
		Customer</button>
</h3>
<div class="row">
	<div class="col-md-12">
		<section class="widget">
			<header>
				<div class="widget-controls">
					<a data-widgster="expand" title="Expand" href="#"><i
						class="glyphicon glyphicon-chevron-up"></i></a> <a
						data-widgster="collapse" title="Collapse" href="#"><i
						class="glyphicon glyphicon-chevron-down"></i></a> <a
						data-widgster="close" title="Close" href="#"><i
						class="glyphicon glyphicon-remove"></i></a>
				</div>
			</header>
			<div class="table-responsive small-top" ng-init="getCustomerList();"
				ng-hide="customerForm">
				<table id="exportCreateIndent"
					class="table table-striped table-bordered" border="1">
					<thead>
						<tr style="float: center; background-color: #CFD8DC;">
							<th class="text-center">Sr No</th>
							<th class="text-center">Customer Code</th>
							<th class="text-center">Customer Name</th>
							<!-- <th class="text-center">State</th> -->
							<th class="text-center">City</th>
							<th class="text-center">GST No</th>
							<!-- <th class="text-center">Action</th> -->
						</tr>
					</thead>
					<tbody class="text-center">
						<tr ng-repeat="c in customerList">
							<td>{{$index + 1}}</td>
							<td><a href="" data-toggle="modal"
								ng-click="getCustomerDetails(c.customerId)">{{c.customerCode}}</a></td>
							<td>{{c.customerName}}</td>
							<!-- 							<td>{{c.stateName}}</td>
 -->
							<td>{{c.city}}</td>
							<td>{{c.gstNumber}}</td>
							<!-- <td><button class="btn btn-xs btn-info btn-rounded ">
									<span class="glyphicon glyphicon-edit">
								</button>
								<button class="btn btn-xs btn-danger btn-rounded">
									<span class="glyphicon glyphicon-remove">
								</button></td> -->
						</tr>

					</tbody>
				</table>
			</div>
			<div class="widget-body" ng-show="customerForm">
				<form>
					<div class="row">
						<div class="col-md-8">

							<div data-bootstrap-wizard class="form-wizard">
								<ul class="nav-justified mb-sm">
									<li><a href="#tab1" data-toggle="tab"> <small>1.</small>
											Customer Details
									</a></li>
									<li><a href="#tab2" data-toggle="tab"> <small>2.</small>
											Owner & Manager Details
									</a></li>
									<li><a href="#tab3" data-toggle="tab"> <small>3.</small>
											Magazine Details
									</a></li>
									<li><a href="#tab4" data-toggle="tab"> <small>4.</small>
											Magazine Capacity
									</a></li>

								</ul>
								<div id="bar" class="progress progress-xs">
									<div class="progress-bar progress-bar-gray-light"></div>
								</div>
								<div class="tab-content" data-height="600">
									<div class="tab-pane bg-gray-lighter" id="tab1">
										<!-- <form action='' method="POST"
										data-parsley-priority-enabled="false" novalidate="novalidate"> -->
										<fieldset>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="customerCode">Customer Code</label> <input
														type="text" id="customerCode" name="customerCode"
														ng-model="customer.customerCode" class="form-control">
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="text">Customer Name</label> <input type="text"
														id="customerName" name="customerName" class="form-control"
														data-parsley-trigger="change"
														ng-model="customer.customerName"> <span
														class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<!-- Email -->
													<label for="mobileNumber">Mobile No</label> <input
														type="text" id="mobileNumber" name="mobileNumber"
														class="form-control" data-parsley-trigger="change"
														ng-model="customer.mobileNumber"> <span
														class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<!-- Password -->
													<label for="emailId">Email Id</label> <input type="text"
														id="emailId" name="emailId" class="form-control"
														ng-model="customer.emailId"> <span
														class="help-block"></span>
												</div>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="address">Address</label>
													<textarea type="text" id="address" name="address"
														class="form-control" ng-model="customer.address" rows="2"></textarea>
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="city">City</label> <input type="text" id="city"
														name="city" class="form-control" ng-model="customer.city">
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="stateId">State</label> <select
														class="select2 form-control" id="stateId"
														ng-model="customer.stateId"
														ng-options="s.stateId as s.stateName for s in stateList"
														ng-change="getDistrictList(customer.stateId);"></select> <span
														class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="districtId">District</label> <select
														class="select2 form-control" id="districtId"
														ng-model="customer.districtId"
														ng-options="d.districtId as d.districtName for d in districtList"></select>
													<span class="help-block"></span>
												</div>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="customerCategoryId">Category Name</label> <select
														class="select2 form-control" id="customerCategoryId"
														name="customerCategoryId"
														ng-model="customer.customerCategoryId"
														ng-options="c.customerCategoryId as c.customerCategoryName for c in customerCategoryList"></select>
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="associateName">Associate Name</label> <input
														type="text" id="associateName" name="associateName"
														class="form-control" ng-model="customer.associateName">
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="inOutState">In/Out State</label>
													<div class="radio">
														<input type="radio" name="inOutState" id="radio1"
															value="In State" ng-model="customer.inOutState">
														<label for="radio1"> In State </label>
													</div>
													<div class="radio">
														<input type="radio" name="radio1" id="radio2"
															value="Out State" ng-model="customer.inOutState">
														<label for="radio2"> Out State </label>
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<div class="form-group">
														<label for="dispatchMode">Dispatch Mode<span
															class="help-block"></span>
														</label> <select multiple
															data-ui-options="{minimumResultsForSearch: 10}"
															data-minimum-results-for-search="10" tabindex="-1"
															class="select2 form-control" id="dispatchMode"
															ng-model="customer.dispatchMode">
															<option value="Own Van">Own Van</option>
															<option value="Other Customer Van">Other Customer Van</option>
															<option value="Transporter Van">Transporter Van</option>
															<option value="Company Van">Company Van</option>
														</select>
													</div>
													<span class="help-block"></span>
												</div>

											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="gstNumber">GST No</label> <input type="text"
														id="gstNumber" name="gstNumber" class="form-control"
														ng-model="customer.gstNumber"> <span
														class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="tokenNoPrefix">Token No. Prefix</label> <input
														type="text" id="tokenNoPrefix" name="tokenNoPrefix"
														placeholder="" class="form-control"
														ng-model="customer.tokenNoPrefix"> <span
														class="help-block"></span>
												</div>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="bankId">Bank Name</label> <select
														class="select2 form-control" id="bankId" name="bankId"
														ng-model="customer.bankId"
														ng-options="b.bankId as b.bankName for b in bankList"></select>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="branchName">Branch Name</label> <input
														type="text" id="branchName" name="branchName"
														class="form-control" data-parsley-trigger="change"
														ng-model="customer.branchName"> <span
														class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="accountNumber">Account No</label> <input
														type="text" id="accountNumber" name="accountNumber"
														class="form-control" data-parsley-trigger="change"
														ng-model="customer.accountNumber"> <span
														class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="ifscCode">IFSC Code</label> <input type="text"
														id="ifscCode" name="ifscCode" class="form-control"
														ng-model="customer.ifscCode"> <span
														class="help-block"></span>
												</div>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													data-ng-init="customer.hasSubdealer1=true"
													data-ng-show="customer.hasSubdealer=='true'">
													<label for="hasSubdealer">Has Subdealers</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="hasSubdealer" data-ui-switch
															ng-model="customer.hasSubdealer1">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													data-ng-init="customer.hasSubdealer2=false"
													data-ng-show="customer.hasSubdealer=='false'">
													<label for="hasSubdealer">Has Subdealers</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="hasSubdealer" data-ui-switch
															ng-model="customer.hasSubdealer2">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													data-ng-init="customer.showToSubdealer1=true"
													data-ng-show="customer.showToSubdealer=='true'">
													<label for="showToSubdealer">Show to Sub-Dealer</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="showToSubdealer" data-ui-switch
															data-ng-model="customer.showToSubdealer1">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.showToSubdealer2=false"
													data-ng-show="customer.showToSubdealer=='false'">
													<label for="showToSubdealer">Show to Sub-Dealer</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="showToSubdealer" data-ui-switch
															data-ng-model="customer.showToSubdealer2">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.acceptDailyStock1=true"
													data-ng-show="customer.acceptDailyStock=='true'">
													<label for="acceptDailyStock">Accept Daily Stock</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="acceptDailyStock"
															data-ui-switch data-ng-model="customer.acceptDailyStock1">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.acceptDailyStock2=false"
													data-ng-show="customer.acceptDailyStock=='false'">
													<label for="acceptDailyStock">Accept Daily Stock</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="acceptDailyStock"
															data-ui-switch data-ng-model="customer.acceptDailyStock2">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.clubPo1=true"
													data-ng-show="customer.clubPo=='true'">
													<label for="clubPo">Club PO</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="clubPo" data-ui-switch
															data-ng-model="customer.clubPo1">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.clubPo2=false"
													data-ng-show="customer.clubPo=='false'">
													<label for="clubPo">Club PO</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="clubPo" data-ui-switch
															data-ng-model="customer.clubPo2">
													</div>
													<span class="help-block"></span>
												</div>

											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.goodsReceipt1=true"
													data-ng-show="customer.goodsReceipt=='true'">
													<label for="goodsReceipt">Goods Receipt</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="goodsReceipt" data-ui-switch
															data-ng-model="customer.goodsReceipt1">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.goodsReceipt2=false"
													data-ng-show="customer.goodsReceipt=='false'">
													<label for="goodsReceipt">Goods Receipt</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="goodsReceipt" data-ui-switch
															data-ng-model="customer.goodsReceipt2">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.phoneReportCheck1=true"
													data-ng-show="customer.phoneReportCheck=='true'">
													<label for="phoneReportCheck">Phone Report Check</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="phoneReportCheck"
															data-ui-switch ng-model="customer.phoneReportCheck1" />
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.phoneReportCheck2=false"
													data-ng-show="customer.phoneReportCheck=='false'">
													<label for="phoneReportCheck">Phone Report Check</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="phoneReportCheck"
															data-ui-switch ng-model="customer.phoneReportCheck2">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.activeStatus1=true"
													data-ng-show="customer.activeStatus=='true'">
													<label for="activeStatus">Active Status</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="activeStatus" data-ui-switch
															data-ng-init="switchery1 = true"
															data-ng-model="customer.activeStatus1">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.activeStatus2=false"
													data-ng-show="customer.activeStatus=='false'">
													<label for="activeStatus">Active Status</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="activeStatus" data-ui-switch
															data-ng-model="customer.activeStatus2">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.priorityLoadingRequest1=true"
													data-ng-show="customer.priorityLoadingRequest=='true'">
													<label for="priorityLoadingRequest">Priority
														Loading Req</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="priorityLoadingRequest"
															data-ui-switch
															data-ng-model="customer.priorityLoadingRequest1">
													</div>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3"
													ng-init="customer.priorityLoadingRequest2=false"
													data-ng-show="customer.priorityLoadingRequest=='false'">
													<label for="priorityLoadingRequest">Priority
														Loading Req</label>
													<div class="checkbox-inline checkbox-ios">
														<input type="checkbox" id="priorityLoadingRequest"
															data-ui-switch
															data-ng-model="customer.priorityLoadingRequest2">
													</div>
													<span class="help-block"></span>
												</div>

												<!-- 	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													Password
													<label for="address">Product PDF</label> <input type="file"
														id="address" name="address" placeholder=""
														class="form-control" ng-model="item.productPdf"> <span
														class="help-block"></span>
												</div> -->

											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="dailyStockCheckDays">Daily Stock Check
														Days</label> <input type="text" id="dailyStockCheckDays"
														name="dailyStockCheckDays" class="form-control"
														ng-model="customer.dailyStockCheckDays"> <span
														class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="phoneReportCheckDays">Phone Report
														Check Days</label> <input type="text" id="phoneReportCheckDays"
														name="phoneReportCheckDays" class="form-control"
														ng-model="customer.phoneReportCheckDays"> <span
														class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="maxContractDays">Max Contract Days</label> <input
														type="text" id="maxContractDays" name="maxContractDays"
														class="form-control" ng-model="customer.maxContractDays">
													<span class="help-block"></span>
												</div>

												<!-- <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="maxMonthTargetDate">Max Month Target
														Date</label> <input id="maxMonthTargetDate"
														data-ng-model="customer.maxMonthTargetDate" type="date"
														class="form-control" /> <span class="help-block"></span>
												</div> -->

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
												<label for="maxMonthTargetDate">Max Month Target
													Date</label> <input id="maxMonthTargetDate"
													data-ui-jq="datetimepicker"
													data-ui-options="{ format: 'DD/MM/YYYY' }"
													data-ng-model="customer.maxMonthTargetDate" type="text"
													class="form-control" /> <span class="help-block"></span>
											</div>

											</div>

										</fieldset>
										<!-- </form> -->
									</div>
									<div class="tab-pane bg-gray-lighter" id="tab2">
										<!-- <form action='' method="POST"
										data-parsley-priority-enabled="false" novalidate="novalidate"> -->
										<fieldset>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="ownerFirstName">Owner First Name</label> <input
														type="text" id="ownerFirstName" name="ownerFirstName"
														ng-model="customer.ownerFirstName" class="form-control">
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="ownerLastName">Owner Last Name</label> <input
														type="text" id="ownerLastName" name="ownerLastName"
														ng-model="customer.ownerLastName" class="form-control">
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="ownerEmailId">Email Id</label> <input
														type="text" id="ownerEmailId" name="ownerEmailId"
														ng-model="customer.ownerEmailId" class="form-control">
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="ownerMobileNumber">Mobile No</label> <input
														type="text" id="ownerMobileNumber"
														name="ownerMobileNumber" class="form-control"
														data-parsley-trigger="change"
														ng-model="customer.ownerMobileNumber"> <span
														class="help-block"></span>
												</div>

											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="ownerDateOfBirth">Date of Birth</label> <input
														id="ownerDateOfBirth"
														data-ui-options="{ format: 'yyyy-MM-dd' }"
														data-ng-model="customer.ownerDateOfBirth" type="date"
														class="form-control" /> <span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="ownerPanNumber">PAN No</label> <input
														type="text" id="ownerPanNumber" name="ownerPanNumber"
														class="form-control" data-parsley-trigger="change"
														ng-model="customer.ownerPanNumber"> <span
														class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="ownerAadhaarNumber">Adhaar No</label> <input
														type="text" id="ownerAadhaarNumber"
														name="ownerAadhaarNumber" class="form-control"
														data-parsley-trigger="change"
														ng-model="customer.ownerAadhaarNumber"> <span
														class="help-block"></span>
												</div>

											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="managerFirstName">Manager First Name</label> <input
														type="text" id="managerFirstName" name="managerFirstName"
														ng-model="customer.managerFirstName" class="form-control">
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="managerLastName">Owner Last Name</label> <input
														type="text" id="managerLastName" name="managerLastName"
														ng-model="customer.managerLastName" class="form-control">
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="managerEmailId">Email Id</label> <input
														type="text" id="managerEmailId" name="managerEmailId"
														ng-model="customer.managerEmailId" class="form-control">
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="managerMobileNumber">Mobile No</label> <input
														type="text" id="managerMobileNumber"
														name="managerMobileNumber" class="form-control"
														data-parsley-trigger="change"
														ng-model="customer.managerMobileNumber"> <span
														class="help-block"></span>
												</div>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="managerDateOfBirth">Date of Birth</label> <input
														id="managerDateOfBirth" data-ui-jq="datetimepicker"
														data-ui-options="{ format: 'DD/MM/YYYY' }"
														data-ng-model="customer.managerDateOfBirth" type="date"
														class="form-control" /> <span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="managerPanNumber">PAN No</label> <input
														type="text" id="managerPanNumber" name="managerPanNumber"
														class="form-control" data-parsley-trigger="change"
														ng-model="customer.managerPanNumber"> <span
														class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="managerAdhaarNumber">Adhaar No</label> <input
														type="text" id="managerAdhaarNumber"
														name="managerAdhaarNumber" class="form-control"
														data-parsley-trigger="change"
														ng-model="customer.managerAdhaarNumber"> <span
														class="help-block"></span>
												</div>

											</div>

										</fieldset>
										<!-- </form> -->
									</div>
									<div class="tab-pane bg-gray-lighter" id="tab3">
										<!-- <form action='' method="POST"
										data-parsley-priority-enabled="false" novalidate="novalidate"> -->
										<fieldset>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="magazineCode">Magazine Code</label> <input
														type="text" id="magazineCode" name="magazineCode"
														ng-model="magazine.magazineCode" class="form-control">
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="magazineName">Magazine Name</label> <input
														type="text" id="magazineName" name="magazineName"
														ng-model="magazine.magazineName" class="form-control">
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="description">Description</label>
													<textarea type="text" id="description" name="description"
														class="form-control" ng-model="magazine.description"
														rows="2"></textarea>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="documentKey">Document Key</label> <input
														type="text" id="documentKey" name="documentKey"
														ng-model="magazine.documentKey" class="form-control">
													<span class="help-block"></span>
												</div>

											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="licenseNumber">License Number</label> <input
														type="text" id="licenseNumber" name="licenseNumber"
														ng-model="magazine.licenseNumber" class="form-control">
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="licenseExpiryDate">License Expiry Date</label>
													<input id="licenseExpiryDate" data-ui-jq="datetimepicker"
														data-ui-options="{ format: 'DD/MM/YYYY' }"
														data-ng-model="magazine.licenseExpiryDate"
														data-ng-change="dtChanged(dt)" type="text"
														class="form-control" /> <span class="help-block"></span>
												</div>

											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="address">Address</label>
													<textarea type="text" id="address" name="address"
														class="form-control" ng-model="magazine.address" rows="2"></textarea>
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="city">City</label> <input type="text" id="city"
														name="city" class="form-control" ng-model="magazine.city">
													<span class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="stateId">State</label> <select
														class="select2 form-control" id="stateId"
														ng-model="magazine.stateId"
														ng-options="s.stateId as s.stateName for s in stateList"
														ng-change="getDistrictList(magazine.stateId)"></select> <span
														class="help-block"></span>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="districtId">District</label> <select
														class="select2 form-control" id="districtId"
														ng-model="magazine.districtId"
														ng-options="d.districtId as d.districtName for d in districtList"></select>
													<span class="help-block"></span>
												</div>

											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
												align="center">
												<button class="btn btn-primary btn-success"
													ng-click="addMagazineDetails();">Add To Table</button>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="table-responsive small-top">
													<table id="magazineTable"
														class="table table-striped table-bordered" border="1">
														<caption>
															<b>Magazine Details</b>
														</caption>
														<thead>
															<tr style="float: center; background-color: #CFD8DC;">
																<th class="text-center">Sr No</th>
																<th class="text-center">Magazine Code</th>
																<th class="text-center">Magazine Name</th>
																<th class="text-center">Dockey</th>
																<th class="text-center">License No</th>
																<th class="text-center">Action</th>
															</tr>
														</thead>
														<tbody class="text-center">

															<tr ng-repeat="m in magazineList">
																<td>{{$index + 1}}</td>
																<td>{{m.magazineCode}}</td>
																<td>{{m.magazineName}}</td>
																<td>{{m.documentKey}}</td>
																<td>{{m.licenseNumber}}</td>
																<td>
																	<!-- <button
																		class="btn btn-xs btn-info btn-rounded " ng-click="edit ">
																		<span class="glyphicon glyphicon-edit">
																	</button> -->
																	<button class="btn btn-xs btn-danger btn-rounded"
																		ng-click="removeMagazineDetails($index);">
																		<span class="glyphicon glyphicon-remove">
																	</button>
																</td>
															</tr>

														</tbody>
													</table>
												</div>
											</div>

										</fieldset>
										<!-- </form> -->
									</div>
									<div class="tab-pane bg-gray-lighter" id="tab4">
										<!-- <form action='' method="POST"> -->
										<fieldset>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="magazineId">Magazine List</label> <select
														class="select2 form-control" id="magazineId"
														ng-model="magazineCapacity.magazineId"
														ng-options="m.magazineId as m.magazineName for m in magazineList"></select>
													<span class="help-block"></span>
												</div>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="itemCategoryId">Category Id</label> <select
														data-ui-jq="select2" class="select2 form-control"
														id="itemCategoryId"
														ng-model="magazineCapacity.itemCategoryId"
														ng-options="c.itemCategoryId as c.itemCategoryName for c in itemCategoryList"></select>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="capacity">Capacity</label> <input type="text"
														id="capacity" name="capacity" class="form-control"
														ng-model="magazineCapacity.capacity"> <span
														class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<label for="uomId">UOM Id</label> <select
														class="select2 form-control" id="uomId"
														ng-model="magazineCapacity.uomId"
														ng-options="u.uomId as u.uomName for u in uomList"></select>
													<span class="help-block"></span>
												</div>

												<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3">
													<!-- Email -->
													<label for="rotationCapacity">Rotation Capacity</label> <input
														type="text" id="rotationCapacity" name="rotationCapacity"
														class="form-control"
														ng-model="magazineCapacity.rotationCapacity"> <span
														class="help-block"></span>
												</div>

											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
												align="center">
												<button class="btn btn-primary btn-success"
													ng-click="addMagazineCapacityDetails();">Add To
													Table</button>
											</div>

											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="table-responsive small-top">
													<table id="capacityTable"
														class="table table-striped table-bordered" border="1">
														<caption>
															<b>Category wise Capacity</b>
														</caption>
														<thead>
															<tr style="float: center; background-color: #CFD8DC;">
																<th class="text-center">Sr No</th>
																<th class="text-center">Magazine Name</th>
																<th class="text-center">Category</th>
																<th class="text-center">Capacity</th>
																<th class="text-center">UOM</th>
																<th class="text-center">Rotation Capacity</th>
																<th class="text-center">Action</th>
															</tr>
														</thead>
														<tbody class="text-center">

															<tr ng-repeat="c in magazineCapacityList">
																<td>{{$index + 1}}</td>
																<td><select class="select2 form-control"
																	id="magazineId" ng-model="c.magazineId"
																	ng-options="m.magazineId as m.magazineName for m in magazineList"
																	disabled="disabled"></select></td>
																<td><select data-ui-jq="select2"
																	class="select2 form-control" id="itemCategoryId"
																	ng-model="c.itemCategoryId"
																	ng-options="c.itemCategoryId as c.itemCategoryName for c in itemCategoryList"
																	disabled="disabled"></select></td>
																<td>{{c.capacity}}</td>
																<td><select class="select2 form-control" id="uomId"
																	ng-model="c.uomId"
																	ng-options="u.uomId as u.uomName for u in uomList"
																	disabled="disabled"></select></td>
																<td>{{c.rotationCapacity}}</td>
																<td>
																	<!-- <button
																		class="btn btn-xs btn-info btn-rounded " ng-click="edit ">
																		<span class="glyphicon glyphicon-edit">
																	</button> -->
																	<button class="btn btn-xs btn-danger btn-rounded"
																		ng-click="removeMagazineCapacityDetails($index);">
																		<span class="glyphicon glyphicon-remove">
																	</button>
																</td>
															</tr>

														</tbody>
													</table>
												</div>
											</div>

										</fieldset>
										<!-- </form> -->
									</div>
									<ul class="pager wizard">
										<li class="previous">
											<button class="btn btn-default btn-rounded pull-left">
												<i class="fa fa-caret-left"></i> &nbsp; Previous
											</button>
										</li>
										<li>
											<button class="btn btn-primary btn-warning"
												ng-click="hideCustomerForm();">Cancel</button>
										</li>
										<li class="next">
											<button class="btn btn-primary btn-rounded pull-right">
												Next &nbsp; <i class="fa fa-caret-right"></i>
											</button>
										</li>
										<li class="finish" style="display: none">
											<button class="btn btn-success btn-rounded pull-right"
												ng-click="saveCustomer();" ng-show="customerButton">
												Save &nbsp; <i class="glyphicon glyphicon-ok"></i>
											</button>
											<button class="btn btn-success btn-rounded pull-right"
												ng-click="updateCustomer();" ng-hide="customerButton">
												Update &nbsp; <i class="glyphicon glyphicon-ok"></i>
											</button>
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>
		</section>
	</div>
</div>
